button{
  cursor: pointer;
  outline: none;
  border: none;
  padding: 1rem 2rem;
  background-color: transparent;
  border: 2px solid #E4AA48;
  color: #E4AA48;
  font-weight: bold;
  text-transform: uppercase;
}
